@page "/"

<PageTitle>Index</PageTitle>

<h1>Calculadora de potencias</h1>
<input type="number" @bind="baseNumero" placeholder="Ingresa un número" />
<input type="number" @bind="exponente" placeholder="Ingresa la potencia" />
<p>@resultado</p>

@code {
    private int baseNumero = 1;
    private int exponente = 1;
    private double resultado = 1;

    protected override async Task OnInitializedAsync()
    {
        resultado = Math.Pow(baseNumero, exponente);
        await base.OnInitializedAsync();
    }
}